/**
 * @name Steam
 * @author maenDisease
 * @authorLink https://maendisease.github.io/
 * @version 1.0.0
 * @description Steam UI on Discord.
 * @source https://github.com/maenDisease/Steam
 * @website https://maendisease.github.io/
 * @invite BShu37e4jg
*/

@import url('/Steam/Steam_main.css');
@import url('https://maendisease.github.io/Steam/addons/horizontalserverlist.css');

:root {
  --hue-shift: 0; /* 0-360 */
  --content-width: 100%; /* 100% = Full Width; 940px = default */
  --message-width: 100%; /* 100% = Full Width; 640px = default */
  --server-size: 28px;
  --custom-font: "gg sans";
  --custom-font-code: monospace;
}